<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Learning AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
        </style>
        
        <script src="https://code.angularjs.org/1.3.9/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">AngularJS</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

            <div ng-controller="mainController">
            
                <h1>Hello world!</h1>
                <ul>
		        <li ng-repeat="hotel in hotels" ng-click="toggleActive(hotel)" ng-class="{active:hotel.active}">
			        {{hotel.name}} <span>{{hotel.price | currency}}</span>
		        </li>
	            </ul>
                
                <div class="total">
		          <!-- Calculate the total price of all chosen hotels. Format it as currency. -->
		          Total: <span>{{total() | currency}}</span>
	            </div>
            </div>
            
		</div>

    </body>
</html>